{% load static %}{% load staticfiles %}{% load i18n %}
<html lang="Es">

<head>
		<title>Paseos</title>
		<link rel="stylesheet" href="static/css/maquetacion.css" type="text/css"/>
</head>

  <body>

		<div id ="contenedor">
          <div style="text-align-last: center">
          <h2>{{item.2 }}</h2><br><br>
          </div>
    </div><br>

	  <div id ="menu">
          <div style="text-align-last: center">
          <h2>Horario {{item.7  }} <br/> Contacto {{item.8  }} <br/> Dirección {{item.6  }} <br/> Ciudad {{item.4  }} </h2>
          </div>
    </div>


    <div id ="submenu">
          <div style="text-align-last: rigth">
          <!--h2>Fecha Inicio {{item.4  }} Hasta  {{item.5  }}</h2-->
          </div>
    </div>
<div class=section>
		<div class ="container">
              <div style="imagenes">
                <h3><img width="100%" height="60%" src="static/img/{{item.18}}"></h3>
              </div>
        </div>


		<div id ="container1">
              <div style="text-align-last: center">
              <h2><iframe src="{{item.17}}" width="100%" height="60%"></iframe></h2>
              </div>
        </div>
      </div>
      </body>
<footer>
        <div id ="pie">
              <div style="text-align-last: center">
              <!--h2>Tarjetas: {{item.9}}  <br/> Platos {{item.11}}   <br/> Gasto promedio:{{item.12}}  <br/-->    <!--r/> Pagina {{ item.10 }} <!--a href ={{item.13}} target="blank">{{item.13 }}</h2><br-->
              </div>
        </div>

        <div id ="pie2">
                    <div style="text-align-last: center">
                        <h2>
                            <p> Deja tu opinion </p>
                             <textarea name="mensaje" id="txtComentario" placeholder="Comparte tu experiencia"></textarea>
                              <p><button onclick="Guardarcomentario()" value="Enviar mensaje">Enviar mensaje</button></p>
                                <script>
                                    function Guardarcomentario() {
                                        var idEvento = {{ item.0}}
                                        var Comentario = document.getElementById("txtComentario").value;
                                        window.location.href = "/Comentar_id?id=" + idEvento + "&comentario=" + Comentario + "&tipo=E";
                                                                }
                                    </script>
                        </h2>
                    </div>
                        {% for comentario in comentarios %}
                        <p> {{ comentario.5 }}</p>

                  {% endfor %}
                </div>
            <br/>

            <br/>
            <p><a href="/" ><img src="{%static 'css/botones/volver.png' %}" width="130px" height="70px"></a> </p>
	  </footer>
</html>
