{% load static %}{% load staticfiles %}{% load i18n %}
<html lang="Es">
			<head>
                     <link rel="stylesheet" href ="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                     <link rel="stylesheet" href="{% static 'css/mievento/enfamilia.css' %}">
				<title>Paseos</title>
				
			</head>
	<body>

			<h1><i><img src="{% static 'Paseos.png' %}"  width= 220px height=180px></i></h1>

                                <p><a href="/" ><img src="static/css/botones/irainicio.png" width="130px" height="70px" ></a> </p>

		<div class="datagrid">
                <h3 id="paseos"> </h3>
			<table>
				<thead>

					<tr>
						<th>Nombre</th>
						<th>Direccion</th>
						<th>Ciudad</th>
					</tr>
				</thead>
				<tbody>
                {% for Lugar in Lugar %}
					<tr>
                        <td>{{ Lugar.2 }} <a href="{% url 'Detallepaseo' %}?id_Detallepaseo={{ Lugar.0 }}">Detalle</a></td>
						<td>{{Lugar.6  }}</td>
						<td>{{ Lugar.4 }}</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
		</div>
        <p><a href="/#marco1" ><img src="static/css/botones/volver.png" width="130px" height="70px" ></a></p>
	</body>
</html>
