h1{
  border: black 5px solid;
  background-color: orange; 
  height:12%;
  width: 100%;
}
i{
  position: relative;
  bottom: 20px;
  left:20px;
}

body {
  border: black 5px ;
  background-image: url("https://i.pinimg.com/originals/9b/c9/8f/9bc98f55db5737c6b9601ea215f14467.jpg");
  width: 100%;
}

table{
	margin:5%;
}

tr {
	background-image: url("https://image.freepik.com/vector-gratis/fondo-luminoso-puntos_1055-3132.jpg");
  width: 100%;
}

th {
	border: black 5px solid;
}
td {
	border: black 5px solid;
}

