{% load static %}{% load staticfiles %}{% load i18n %}
<html lang="Es">
<!-- en el head se encuentran los links para los estilos cssy el meta name para el responsive-->

<head>
    <title>Boliches</title>
    <link rel="stylesheet" href="{%static 'css/maquetacion.css'%}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div id="contenedor"><br><br>
        <div style="text-align-last: center">
            <h2>{{item.2 }}</h2><br><br>
        </div>
    </div><br>

    <div id="menu">
        <div style="text-align-last: center">
            <h2> Dirección: {{item.6 }} <br /> {{item.5 }} {{item.4 }} <br /> Horario: {{item.7 }} <br /> Telefono:
                {{item.8 }} </h2>
        </div>
    </div>


    <div id="submenu">
        <div style="text-align-last: rigth">
            <h2>Tipo de Comida: {{item.11}} Servicios: {{item.13}} <br />Gasto promedio: {{item.12 }} Aceptan Tarjetas?
                {{item.9 }}</h2>
        </div>
    </div>

    <div class=section>
       
        <div class="container" style="text-align-last: center">
            <h3><img width="100%" height="60%" src="static/img/{{item.18}}"></h3>
        </div>

        <div class="container1">
            <h2><iframe src="{{item.17}}" width="100%" height="60%"></iframe></h2>
        </div>
        
         </div>
</body>   
    
    <footer>
    <div style="text-align-last: center">
        <div id="pie">
            <h2><a f href={{item.10}} target="blank">{{item.10 }}</a></h2>
        </div>
    </div>

    <!--siguiente codigo para realizar comentarios los cuales seran guardados en la base de datos -->

    <div style="text-align-last: center">
        <div id="pie2">
            <h2>
                <p> Deja tu opinion </p>
                <textarea name="mensaje" id="txtComentario" placeholder="Comparte tu experiencia"></textarea>
                <p><button onclick="Guardarcomentario()" value="Enviar mensaje">Enviar mensaje</button></p>
                <script>
                    function Guardarcomentario() {
                        var idlugar = {{ item.0}}
                    var Comentario = document.getElementById("txtComentario").value;
                    window.location.href = "/Comentar_id?id=" + idlugar + "&comentario=" + Comentario + "&tipo=B";
                }
                </script>
            </h2>
        </div>
    </div><br><br>

    <p><a href="/Boliches"><img src="{%static 'css/botones/volver.png' %}" width=130px height=70px></a> </p>
    <div>
        {% for comentario in comentarios %}
        <p> {{ comentario.5 }}</p>

        {% endfor %}
     </div>        
    </footer>
    </html>
