html  {
  /*font: normal 13px arial,helvetica,sans-serif;*/
  
  
  }

h1  {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  background-color: orange;
  font-family: 'Tangerine', serif;
  font-style: oblique;
  font-size: 90px;
  top: 100px;
  text-shadow: 6px 6px 6px rgb(124, 102, 60);
}

h2  {
  text-align: center;
  color: orange;
  text-decoration: underline;
  font-size: 20px;
  }

ul {
  list-style: circle;
  color: rgb(128, 89, 18);
  text-decoration: underline;
  text-size-adjust: 20px;
  }

ul li a {
  color: rgb(194, 129, 10);
  text-decoration: none;
  font-weight: bold;
  list-style: circle;
  }

ul li a:hover {
  color: rgb(0, 0, 209);
  }

p {
  color: white;
  }

h6{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
color: black;
font-size: 14px;
font-weight: 400px;
text-align: center;
background:orange;
margin: 0 0 25px;
overflow: hidden;
padding: 20px;
border: 5px solid black;
}  

/* Capas del ejemplo  */

div#columna {
  border: solid 0px rgb(204, 42, 42);
  position: absolute;
  left: 0%;
  top: 25%;
  width: 20%;
  height: 80%;
  background-image: url("https://i.pinimg.com/originals/9b/c9/8f/9bc98f55db5737c6b9601ea215f14467.jpg");
  font-size: 18px;
  display: inline block;
}

div#contenido {
  border: solid 0px #ccc;
  position: absolute;
  overflow: hidden;
  left: 20%;
  top: 25%;
  width: 40%;
  height: 80%;
  padding: 0px;
  background-image: url("https://image.freepik.com/vector-gratis/fondo-luminoso-puntos_1055-3132.jpg");
  text-align: center;
  display: inline block;
}

div#marco1, div#marco2, div#marco3, div#enfamilia, div#marco0  {
  height: 100%;
  width: 100%;
 font-size: 15px;
}



div#columnaderecha {
  border: solid 0px rgb(204, 42, 42);
  position: absolute;
  left: 60%;
  top: 25%;
  width: 40%;
  height: 80%;
  background-image: url("https://i.pinimg.com/originals/9b/c9/8f/9bc98f55db5737c6b9601ea215f14467.jpg")
}


div#superior {
  border: solid 0px rgb(204, 42, 42);
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 120%;
  background-image: url("https://i.pinimg.com/originals/9b/c9/8f/9bc98f55db5737c6b9601ea215f14467.jpg")
}

div#buscador {

border: orange;
background-color: gold;
}


div#inferior {

  position: absolute;
  left: 0%;
  top: 100%;
  width: 100%;
  height: 30%;
  background-color: orange;
  border: 5px solid black;
}

footer{
  width:100%;
  background-image: url("https://image.freepik.com/vector-gratis/fondo-luminoso-puntos_1055-3132.jpg");
  border: 5px solid black;
}
