{% load static %}{% load staticfiles %}{% load  i18n %}
<html lang="Es">
		<head>
            <title>Para Niños</title>
                <link rel="stylesheet" href ="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                <link rel="stylesheet" href="{% static 'css/mievento/enfamilia.css' %}">

		</head>
	<body>

      <h1><i><img src="{% static 'Paraninos.png' %}"  width= 220px height=180px></i></h1>

      <p><a href="/" ><img src="static/css/botones/irainicio.png" width="130px" height="70px" ></a> </p>

		 <div class="datagrid">
                <h3 id="paraninos"></h3>
			<table>
				<thead>

					<tr>
						<th>Nombre</th>
                        <th>Detalle</th>
                        <th>Ciudad</th>
					</tr>
				</thead>
				<tbody>
                        {% for Evento in Evento %}
                        <tr>
                          <td>{{ Evento.1 }}<a href="{% url 'Detalle_Ninos' %}?id_DetalleNinos={{ Evento.0}}">Detalle</a></td>
                          <td>{{ Evento.3 }}</td>
                          <td>{{ Evento.11 }}</td>
                        </tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
<p><a href="/#marco1" ><img src="static/css/botones/volver.png" width="130px" height="70px" ></a></p>	
	</body>
</html>
