<form action="" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="OAQ13rIIjWd3B4NGXlIa0IX4QCWrnq8TPWKDxaUhY1MKNfr60ZyGnj3nhs1ALzC0">
            <label for="id_username">Usuario</label>
            <label for="id_username">Username:</label><input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"><br><span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
<label for="id_email">Email:</label><input type="email" name="email" required="" id="id_email">
<label for="id_first_name">First name:</label><input type="text" name="first_name" maxlength="140" required="" id="id_first_name">
<label for="id_last_name">Last name:</label><input type="text" name="last_name" maxlength="140" id="id_last_name">
<label for="id_password1">Password:</label><input type="password" name="password1" required="" id="id_password1"><br><span class="helptext"><ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul></span>
<label for="id_password2">Password confirmation:</label><input type="password" name="password2" required="" id="id_password2"><br><span class="helptext">Enter the same password as before, for verification.</span>
             <input type="submit" name="submit">
        </form>

    